<!DOCTYPE html>
<html>
  <head>
    <title>Greens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
    crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user%>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
          "current_buying_power": "<%= current_user.current_buying_power %>"
        };
      </script>
    <% end%>
    <script type="text/javascript">
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>
    
    <%= favicon_link_tag image_url('header_img.png') %>

  </head>

  <body>
    <script type="text/javascript">
      window.signinImgURL = "<%= image_url('signup_page_img.png') %>"
      window.splashImgURL = "<%= image_url('splash_page_img.png') %>"
      window.loginImgURL = "<%= image_url('login_page_img.png') %>"
      window.newsDefaultImgURL = "<%= image_url('news_default_img.png') %>"
    </script>
    <%= yield %>
  </body>
</html>
